In [80]:
import pandas as pd
import numpy as np

In [81]:
bookings_iter = pd.read_csv(
   'bookings.csv.bz2',
    compression='bz2',
    engine='c',
    chunksize=1000,
    
    usecols=["arr_port", "pax"],
    delimiter="^",
    iterator = True
)

In [82]:

df = pd.concat(bookings_iter, ignore_index=True)

In [89]:
(
    df.groupby(['arr_port'])
    .agg({'pax': np.sum})
    .nlargest(10, 'pax')
    .reset_index()
)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0