In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
searches_iter = pd.read_csv(
   'searches.csv.bz2',
    compression='bz2',
    engine='c',
    chunksize=1000,
    parse_dates=["Date"],
    usecols=['Date', 'Destination'],
    delimiter="^",
    iterator = True

)

In [18]:
df = pd.concat(searches_iter, ignore_index=True)

<bound method DataFrame.info of                          Date Destination
0         2013-01-02 00:00:00         SYD
1         2013-01-02 00:00:00         JFK
2         2013-01-02 00:00:00         OSL
3         2013-01-02 00:00:00         AYT
4         2013-01-02 00:00:00         BKK
...                       ...         ...
20389193  2013-10-13 00:00:00         NBO
20389194  2013-10-13 00:00:00         ALA
20389195  2013-10-13 00:00:00         LHR
20389196  2013-10-13 00:00:00         MAD
20389197  2013-10-13 00:00:00          HA

[20389198 rows x 2 columns]>

In [34]:
from datetime import datetime

In [40]:
list(df.columns)

['Date', 'Destination']

In [46]:
df['Date'] = pd.to_datetime(df.Date, format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [47]:
df['Month'] = df.Date.dt.month

               Date Destination  Month
0        2013-01-02         SYD    1.0
1        2013-01-02         JFK    1.0
2        2013-01-02         OSL    1.0
3        2013-01-02         AYT    1.0
4        2013-01-02         BKK    1.0
...             ...         ...    ...
20389193 2013-10-13         NBO   10.0
20389194 2013-10-13         ALA   10.0
20389195 2013-10-13         LHR   10.0
20389196 2013-10-13         MAD   10.0
20389197 2013-10-13          HA   10.0

[20389198 rows x 3 columns]